<h1>Queue Messaging Application</h1>
Enter queue name:
<input type="text">

<br>
Enter queue size
<input type="text">

<br>
<input type="button" value="Add" (click)="addClick()"><br>
<div *ngFor="let queue of queues">

    {{queue.queuename}}
  
  </div>
<input type="button" value="View list of queues" (click)="getQueue()">


<br>

Please find queue details below:



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="qname">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.qname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="qmessage">
    <th mat-header-cell *matHeaderCellDef> Queue Msg </th>
    <td mat-cell *matCellDef="let element"> {{element.qmessage}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let element"> {{element.update}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> {{element.delete}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


